
::-webkit-scrollbar {
    width: 2.5px;
    
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 0%,
      rgb(255, 170, 1) 100%
    );
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(
      0deg,
      rgb(185, 185, 185) 0%,
      rgb(158, 105, 0) 100%
    );
  }
